{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete student</title>
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<body>
    <h2>Delete student</h2>
    <p>Are you sure you want to delete student:
        <strong>{{ student.roll_no }}-{{ student.first_name }} {{ student.last_name }}</strong>
    </p>
    <form method="POST">
      {% csrf_token %}
      <button type="submit">yes,Delete </button>
    
    </form>
    <button onclick="location.href='{% url 'home' %}'">Back</button>
</body>
</html>